#contact-modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 200px;
    margin: 0 100px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pg-detail {
    display: inline;
}

.contact-button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

/* #region media */
.photograph-media {
    margin: 0 100px;
}

.sorter {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 58px;
}

.media-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px;
}

.medium {
    margin-bottom: 30px;
}

.medium img, .medium video {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.medium-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.medium-title {
    font-size: 24px;
    color: #901C1C;
    max-width: calc(350px - 46px);
    text-overflow: ellipsis;
}

.medium-likes {
    display: flex;
    align-items: center;
    width: 46px;
    font-weight: 500;
    color: #901C1C;
}

.medium-likes svg {
    margin-left: 6px;
    width: 18px;
}
/* #endregion */

/* #region modal */
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

/* #endregion */